<article class="nav-button all-hidden" id="reveal-info">
  <section>
    <h1 class="noselect">More Information</h1>
  </section>
</article>
<article class="content-info all-hidden entire-retract" id="info">
  <section>
    <h2>501(c)3 Status</h2>
    <p>We are registered with the state of North Carolina as a non-profit organization and have received verification from the IRS for our 501(c)3 status. You will receive a receipt via e-mail for your donations and may be eligible for a tax deduction.</p>
  </section>
  <section>
    <h2>The Underride Guard Round Table, Spring 2016</h2>
    <p>We are working on putting together a Second Underride Guard Round Table on August 29, 2017 at the Insurance Institute for Highway Safety.. The Department of Transportation is currently looking at laws related to underride guards and whether or not standards need to be increased to protect people on the roads. The goal of our underride guard round table is to get officials who can make a difference, trucking companies, families of those affected by underride crashes, and truck safety advocates together to discuss underride guards. Our first roundtable on May 5, 2016 was a success. Media reports can be found <a href="http://annaleahmary.com/2016/05/media-coverage-of-the-first-truck-underride-roundtable-held-at-iihs-on-may-5-2016/">here</a>.</p>
  </section>
  <section>
    <h2>How is the money going to be used? </h2>
    <p>We are hoping to raise $225,000. This would allow us to move forward with all of the projects we are currently working on. This includes the following projects: Underride Prevention Research by Aaron Kiefer, Traffic Safety Ombudsman, Nationwide Network of Traffic Safety Community Advocacy Groups, Interactive Personal Crash Stories Online Map, Tired Trucker Roundtable, Truck Certification Program, and a Collegiate Design Competition. A small portion is also likely to be used to cover our operating costs, including but not limited to salary & travel for the Traffic Safety Ombudsman who will coordinate all of these projects, as well as state and federal fees. <a href="http://annaleahmary.com/wordpress/wp-content/uploads/2014/03/ALMFTS-Traffic-Safety-Ombudsman-Project-Budget.pdf">Link to Budget</a></p>
    <iframe width="420" height="315" src="https://www.youtube.com/embed/m69mxZJ6X9M" frameborder="0" allowfullscreen></iframe>
    <h3>Aaron Kiefer</h3>
    <p>The work that we have done has actually put us into contact with others working on the underride guards. One such person is Aaron Kiefer who is currently an accident research specialist in North Carolina. He has designed a guard that can be retro fitted onto current truck guards to improve their strength and reduce underride. He has crash tested it successfully and now needs to do further research to refine the design to be ready for the industry.

This will include the following expenses: aluminum extrusions for the rear reinforcement attachments ($30,000) and an aluminum side guard slide to allow for truck driver functionality in pre-trip inspections of tires ($20,000); development of a prototype for a system at the trailer front, which will allow the side guard to flare up 20-20 degrees when the air brakes are turned off, and back down when the brakes are turned on ($25,000) – again to aid in pre-trip inspections and changing tires; and crash testing to validate and verify the effectiveness of the TrailerGuard System ($50,000). Total Costs for Side Guard Research & Development = $125,000 – a project and cost which is currently not being taken up by the trucking industry.</p>
    <h3>Collegiate Student Design Projects</h3>
    <p>We worked with an Engineering Senior Design Team from Virginia Tech during 2015-16. They had a six student design team who chose to work with the underride guard issue as their senior project. They were very enthusiastic presented their research to the First Underride Roundtable.

For 2016-17, we will organize a collegiate design competition in which collaborative, interdisciplinary research teams from various universities will identify the outer limits of effective underride protection, i.e., ascertain the optimum levels of energy absorption and rigidity both to prevent underride and also to result in survivable (and without life-altering injuries) deceleration forces at the maximum speed possible – including front, side, and rear underride (at various angles).</p>
    <h3>Administrative Costs</h3>
    <p>Many of the early administrative costs were items we simply paid for including registering as a non-profit organization and the initial mailings to our mailing list and trucking companies. However, there are continued costs including registering to collect money in many states and the IRS fees that will take a small portion of the funds that we collect. </p>
  </section>
  <section>
    <h2>Challenges </h2>
    <p>One of the biggest challenges to making change is the cost/benefit analysis. On the one side there are lives to be saved and on the other side there are companies working to make money. The trick is to try and meet everyone’s needs. The solution has to be effective in saving lives while still being affordable for companies so that they can make the changes necessary without a lot of struggle. </p>
  </section>
  <section>
    <h2>The Very Real Dangers of Underride</h2>
    <p>There are between 3,000 and 4,000 deaths each year caused from accidents involving big trucks. It’s hard to know how many of those are actually related to underride because it is often not reported. However, it is estimated that between 50 and 80% of those deaths are caused from underride crashes. </p>
    <p>When nothing stops the car from going under the truck, the truck then enters the passenger compartment of the car. There isn’t room for the people in the car. This leads to head trauma and brain injuries that lead to paralyzation, permanent disabilities, and many times death.  </p>
  </section>
  <section>
    <h2>More Information About Our Crash</h2>
    <p>And that brings us to our crash. </p>
    <p>In the spring of 2013 we had 4 of our 9 children graduating from university (one associates degree, one bachelor’s degree, and 2 masters degrees) and our oldest daughter was getting married. It had also been awhile since the family was all together and we were going to celebrate AnnaLeah’s 18th birthday and our granddaughter’s 4th birthday. All of the festivities were taking place in Texas and we were driving from North Carolina a week before all the festivities to finish up plans. </p>
    <p>The wedding dress I had so lovingly sewn was in the car as well as gifts for the grandchildren we had not seen in eight months. AnnaLeah had hand sewn stuffed animals for her niece and nephew. It was going to be a long drive, but everyone was excited. </p>
    <p>It had been raining in Georgia and there had been a fatal accident that officials were cleaning up from. These things had traffic stopped ahead of us. We stopped with a truck in front of us and one in back of us. </p>
    <p>A third truck came up behind us on the left hand side and hit us from behind. The car spun around so the rear of our vehicle was facing the rear of the truck in front of us. The truck hit us again which caused our car to go backward under the truck in front of us. </p>
    <p>AnnaLeah (just 11 days shy of her 18th birthday) and Mary (13) were in the backseat. AnnaLeah died at the scene and Mary was on life support for 4 days. Both girls suffered from severe head trauma from the their impact with the truck. </p>
    <p>Life after the crash was never the same. Instead of it being a time of joy it became a time of mourning. We were blessed by many people, strangers and friends alike. But none of it could change the fact that the girls were gone and we had to figure out how to pick up the pieces of life without them.</p>
  </section>
</article>
<article class="nav-button all-hidden" id="conceal-info">
  <section>
    <h1 class="noselect">Hide More Information</h1>
  </section>
</article>
<script>
  pageLoadHideInfo();
</script>
