<article class="nav-button all-hidden" id="reveal-info">
  <section>
    <h1 class="noselect">More Information</h1>
  </section>
</article>
<article class="content-info all-hidden entire-retract" id="info">
  <section>
    <h2>501(c)3 Status</h2>
    <p>We are registered with the state of North Carolina as a non-profit organization and waiting for verification from the IRS for our 501(c)3 status. A copy of our 501(c)3 verification will be added to this website as soon as we receive it from the IRS. You will receive a receipt via e-mail for your donations and may be eligible for a tax deduction. </p>
  </section>
  <section>
    <h2>The Underride Guard Round Table, Spring 2016</h2>
    <p>We are working on putting together an Underride Guard Round Table. The Department of Transportation is currently looking at laws related to underride guards and whether or not standards need to be increased to protect people on the roads. The goal of our underride guard round table is to get officials who can make a difference, trucking companies, families of those affected by underride crashes, and truck safety advocates together to discuss underride guards. We hope to have information showing that improvements can be made at a reasonable cost to truck companies. </p>
  </section>
  <section>
    <h2>How is the money going to be used? </h2>
    <p>We are hoping to raise $200,000. This would allow us to move forward with all of the projects we are currently working on. This includes a major project with Dean Sicking, crash testing Aaron Kiefer’s underride guard, crash testing the underride guard that the Virginia Tech Senior design team is currently working on, and it would help pay for any portion of the Underride Guard Round Table that needs to be covered. A small portion is also likely to be used to cover our operating costs including but not limited to state and federal fees and mailings to potential donors.<p>
    <h3>Dean Sicking </h3>
    <p>The first thing that we have on our list is the project with Dean Sicking. Dean Sicking has already saved lives with his SAFER barrier technology in race tracks by working with NASCAR. He is hoping to take this technology to make improvements to underride guards. The cost for having Dean Sicking and his team complete the research, make a model, and crash test it is $138,000. </p>
    <h3>Aaron Kiefer</h3>
    <p>The work that we have done has actually put us into contact with others working on the underride guards. One such person is Aaron Kiefer who is currently an accident research specialist in North Carolina. He has designed a guard that can be retro fitted onto current truck guards to improve their strength and reduce underride. It will cost $25,000 to crash test his model. </p>
    <h3>Virginia Tech</h3>
    <p>We have been working with Virginia Tech this last year. They have a senior design team who has chosen to work with the underride guard issue as their senior project. Six students are currently developing an underride guard. While the completion of their project doesn’t require a crash test, we will need to crash test it in order to compare it to current underride guards and present it as an option at the round table. </p>
    <h3>Round Table Costs</h3>
    <p>Currently we have no idea how much the underride round table will cost or who all will be paying for it, but we would like to be able to fund that should someone need to step up in order to make it happen. We feel that this is a very important step for getting everyone working toward truck safety. </p>
    <h3>Administrative Costs</h3>
    <p>Many of the early administrative costs were items we simply paid for including registering as a non-profit organization and the initial mailings to our mailing list and trucking companies. However, there are continued costs including registering to collect money in many states and the IRS fees that will take a small portion of the funds that we collect. </p>
  </section>
  <section>
    <h2>Challenges </h2>
    <p>One of the biggest challenges to making change is the cost/benefit analysis. On the one side there are lives to be saved and on the other side there are companies working to make money. The trick is to try and meet everyone’s needs. The solution has to be effective in saving lives while still being affordable for companies so that they can make the changes necessary without a lot of struggle. </p>
  </section>
  <section>
    <h2>The Very Real Dangers of Underride</h2>
    <p>There are between 3,000 and 4,000 deaths each year caused from accidents involving big trucks. It’s hard to know how many of those are actually related to underride because it is often not reported. However, it is estimated that between 50 and 80% of those deaths are caused from underride crashes. </p>
    <p>When nothing stops the car from going under the truck, the truck then enters the passenger compartment of the car. There isn’t room for the people in the car. This leads to head trauma and brain injuries that lead to paralyzation, permanent disabilities, and many times death.  </p>
  </section>
  <section>
    <h2>More Information About Our Crash</h2>
    <p>And that brings us to our crash. </p>
    <p>In the spring of 2013 we had 4 of our 9 children graduating from university (one associates degree, one bachelor’s degree, and 2 masters degrees) and our oldest daughter was getting married. It had also been awhile since the family was all together and we were going to celebrate AnnaLeah’s 18th birthday and our granddaughter’s 4th birthday. All of the festivities were taking place in Texas and we were driving from North Carolina a week before all the festivities to finish up plans. </p>
    <p>The wedding dress I had so lovingly sewn was in the car as well as gifts for the grandchildren we had not seen in eight months. AnnaLeah had hand sewn stuffed animals for her niece and nephew. It was going to be a long drive, but everyone was excited. </p>
    <p>It had been raining in Georgia and there had been a fatal accident that officials were cleaning up from. These things had traffic stopped ahead of us. We stopped with a truck in front of us and one in back of us. </p>
    <p>A third truck came up behind us on the left hand side and hit us from behind. The car spun around so the rear of our vehicle was facing the rear of the truck in front of us. The truck hit us again which caused our car to go backward under the truck in front of us. </p>
    <p>AnnaLeah (just 11 days shy of her 18th birthday) and Mary (13) were in the backseat. AnnaLeah died at the scene and Mary was on life support for 4 days. Both girls suffered from severe head trauma from the their impact with the truck. </p>
    <p>Life after the crash was never the same. Instead of it being a time of joy it became a time of mourning. We were blessed by many people, strangers and friends alike. But none of it could change the fact that the girls were gone and we had to figure out how to pick up the pieces of life without them.</p>
  </section>
</article>
<article class="nav-button all-hidden" id="conceal-info">
  <section>
    <h1 class="noselect">Hide More Information</h1>
  </section>
</article>
<script>
  pageLoadHideInfo();
</script>