<!--<article class="images">
  <section class="slideshow" id="slideshow_test">
    <div data-u="slides" class="slideshow">
      <div></div>
    </div>
  </section>
</article>
-->

<article>
  <section>
    <h1>Save Lives</h1>
    <h2>Donate to Truck Safety Research</h2>
    <p>Imagine the back of a semi-truck trailer.</p>

    <p>It's hard to imagine that a car could fit under there. There are bars, called underride guards, at the back of the truck to stop cars from riding under the truck.</p>
    <ul>
      <li>The underride guards don't always stop cars from going under the truck.</li>
      <li>Even at low speeds cars can end up under there!</li>
      <li>Death of family members is a common result to such crashes.</li>
    </ul>
    <blockquote>
      <p>“It is safer to run into a brick wall then the back of a truck.”</p>
      <p>~Insurance Institute for Highway Safety</p>
    </blockquote>
    <p>In 2013, our family found that out the hard way. I was traveling with my 3 youngest children when we were struck from behind by a semi-truck. It spun us around and hit us a second time pushing our car under the truck in front of us.</p>
  </section>

  <section>
    <p>AnnaLeah (17) and Mary (13) were in the backseat when the rear of the car was pushed under the truck. Both of them died. AnnaLeah wanted to be a writer and Mary wanted to be famous, neither of them got to see their dreams come true.</p>
  </section>
  <section>
    <h1>Lives CAN BE Saved!</h1>
    <p>Last year our family was successful in collecting and delivering more than 11,000 signatures in a petition to the Department of Transportation to make changes. Progress is being made toward stricter laws, but the industry needs better options.</p>
    <p>Research must be done to offer the trucking industry affordable technologies that protect our families on the road.</p>
  </section>
  <section>
    <p>Our family started AnnaLeah and Mary for Truck Safety, a 501(c)3 non-profit organization, for raising funds for truck safety research. We are starting with underride guards because if the truck in front of us had a guard that prevented our car from going under it, AnnaLeah and Mary would be here today.</p>
    <ul>
      <li>Dean Sicking has saved lives through the SAFER barrier he designed for NASCAR. He is interested in taking this technology and using it in underride guards.</li>
      <li>Other engineers have contacted us over the last year looking to work on underride guards.</li>
      <li>We are working with universities and their engineering programs to get more engineers thinking and working toward real life solutions to this problem.</li>
    </ul>
  </section>
  <section>
    <h1>We Can't Do It Alone<br />We Need YOUR Help!</h1>
    <ul>
      <li>Donate today to save lives, prevent injuries, and make the roads safer for all families.</li>
      <li>Your donation is tax deductible. You will receive a receipt for tax purposes.</li>
      <li>Your donation will help fund research that will save lives!</li>
    </ul>
    <p>It's too late for AnnaLeah and Mary, but with help from people like you we will save lives.</p>
    <p>~The Karth Family</p>
  </section>
</article>