<article class="images">
  <section class="slideshow" id="slideshow_test">
    <div data-u="slides" class="slideshow">
      <div><!-- img goes here --></div>
    </div>
  </section>
</article>

<article>
  <section>
    <p>On May 4, 2013, four members of the Karth family (a mother and the 3 youngest of her 9 children) drove from North Carolina to Texas to celebrate four family college graduations and the wedding of one of those siblings. While in Georgia, their car – in the right lane – was hit by a truck in the left lane that did not stop in time for slowed traffic and was charged with failure to maintain lane. The impact spun their car around and the truck hit their car a second time, forcing it backward and underneath a second truck’s trailer. That truck then also ran into the side of the second truck.</p>

<p>All four of the people were trapped and needed to be extricated with the Jaws of Life. Marianne and her son were in the front seat and survived the impact with injuries. AnnaLeah and Mary were in the back seat, which went underneath the trailer, and died as a result of catastrophic injuries. Following the crash, the family discovered that too often the <strong>underride guards</strong>, which are required to be installed on tractor-trailers are too weak to withstand the crash--resulting in horrific injuries and deaths.</p>

<p>In the aftermath of the Karth family’s devastating crash, the police have been unable to produce hours of service (HOS) logs for the truck driver. Given the truck driver’s actions and the lack of skid marks or other evidence of evasive maneuvers, and the absence of HOS logs, the Karths believe that driving over HOS limits and the resultant fatigue could have played a large part in the crash that killed AnnaLeah and Mary and injured Marianne and her son.</p>

<p>Additionally, the trucking carrier only held one million dollars in insurance to cover all of the damages involved in the crash. These damages include the loss of two lives and three hospitalizations which included measures to save Mary’s life before she passed away, and significant property damages. Two trucks were badly damaged and the Karth’s car was totaled.  One million dollars is woefully inadequate to cover even the loss of one life let alone multiple losses, medical care costs, and damages.</p>
  </section>
</article>

<article class="sidebar">
  <section>
    <p>AnnaLeah aspired to be an anonymous writer--planning to write under a pen name. Mary, on the other hand, longed to be famous. After the underride truck crash on May 4, 2013, and her death on May 8, we found a letter that Mary had written to herself on April 24, 2013 (planning to read it in 10 years&mdash;2023). One of the things Mary said in that letter was, "I want to be famous somehow. I don't know how. I just do."</p>
  </section>
</article>

<article>
  <section>
    <p>This website is dedicated to preventing more deaths from happening in truck-related crashes. Specifically, the Karth family is working to raise awareness about <strong>underride guards</strong>. More information can be found on the underride guard issue at the website dedicated to advocating for greater truck safety in memory of AnnaLeah and Mary:</p>
<ul>
	<li><strong>Underride Guards Page:</strong> <a href="http://annaleahmary.com/underride-guards/" target="_blank">http://annaleahmary.com/underride-guards/</a> and</li>
	<li><strong>Posts on underride guards:</strong> <a href="http://annaleahmary.com/tag/underride-guards/" target="_blank">http://annaleahmary.com/tag/underride-guards/</a></li>
</ul>
    <p>
The family has also created a Facebook memorial page where they share memories, photos, and videos of the girls.   <a title="Facebook Page" href="https://www.facebook.com/pages/In-Memory-of-AnnaLeah-1995-to-2013-and-Mary-Lydia-Karth-1999-to-2013/464993830249803" target="_blank">https://www.facebook.com/pages/In-Memory-of-AnnaLeah-1995-to-2013-and-Mary-Lydia-Karth-1999-to-2013/464993830249803</a>.</p>
  </section>
</article>

<article class="sidebar">
  <section>
    <p>Help Mary get her wish to become famous: help us in our quest to research and design better underride prevention in memory of AnnaLeah &amp; Mary. Every $1 donated will help to get us all closer to The Best Possible Protection.</p>
  </section>
</article>

<article class="video">
Video for prominent place. Sidebar??????
<iframe width="420" height="315" src="https://www.youtube.com/embed/3TyAayC7Bc0" frameborder="0" allowfullscreen></iframe>
</article>

<article class="sidebar">
	<section>
    <p>AnnaLeah and Mary Karth died due to a truck underride crash on May 4, 2013. Read about their story and our family's push to make roads safer: <a href="http://annaleahmary.com/" target="_blank">http://annaleahmary.<wbr />com/</a></p>
  </section>
</article>

<article>
<section>
<h2>History of This Non-Profit</h2>
<p>AnnaLeah &amp; Mary for Truck Safety, Inc. is a non-profit organization incorporated in the State of North Carolina in June 2015.
<p>The main purpose of AnnaLeah &amp; Mary for Truck Safety is to raise awareness and support research concerning truck safety issues relevant to the truck crash which killed AnnaLeah (17) and Mary (13) Karth on May 4, 2013. <span lang="zxx"><u><a href="http://annaleahmary.com/about/">http://annaleahmary.com/about/</a></u></span></p>
<p>The majority of activities which take place to raise awareness of truck safety problems are already being done, and will be done, on a volunteer basis&mdash;separate from AnnaLeah &amp; Mary for Truck Safety&mdash;and normally through posts on annaleahmary.com, Tweets @MaryandAnnaLeah, and interviews with the media.</p>
<p>The primary activity of AnnaLeah &amp; Mary for Truck Safety will be to raise money for truck safety research and then to select individuals and organizations who will receive the research money as grants or awards. The initial project will be to raise money for an underride prevention project.</p>
<p>Fund raising activities will be coordinated by Marianne Karth and will consist of letters to trucking companies, a press release to the media, posts on facebook, Twitter, annaleahmary.com, the AnnaLeah &amp; Mary for Truck Safety’s website, and email.</p>
<p>All contributions will be deposited in the AnnaLeah &amp; Mary for Truck Safety bank account with Wells Fargo.</p>
<p>There is no paid staff. The fund raising will be conducted on a volunteer basis.</p>
<p>As an example of the type of truck safety research we intend to support, a project proposal and budget have already been outlined by Dean Sicking, an engineer at the University of Alabama-Birmingham. Depending on how much money AnnaLeah &amp; Mary for Truck Safety is able to raise, we would be able to fund Dean and his research team to:</p>
<ol>
	<li>
<p>Do the full underride prevention design project, including crash testing for $138,000.</p>
</li>
	<li>
<p>Do the underride prevention design and prepare the prototype for someone else to test for $88,000. OR</p>
</li>
	<li>
<p>Do the underride prevention design and simulated testing for $61,000.</p>
</li>
</ol>
<p>At whatever level the project is completed, the results will be shared publicly, shared with the National Highway Traffic Safety Administration (NHTSA) for them to be able to include in their analysis of data for current and future underride guard rulemaking, and shared at an Underride Roundtable in the Spring of 2016.</p>
<p>In addition, there may be future opportunities to raise awareness and support research projects on this or other truck safety issues&mdash;including college design competitions and research projects conducted by professionals in the engineering field or other specialties related to truck safety.</p>
<p><a href="http://127.0.0.1/fortrucksafety/blog/wp-content/uploads/2015/08/AnnaLeah-Mary-for-Truck-Safety-Articles-of-Incorporation-filed-with-the-State-of-North-Carolina.pdf" target="_blank">AnnaLeah &amp; Mary for Truck Safety, Articles of Incorporation filed with the State of North Carolina</a></p>
</section>
</article>