%header.logo
  =image_tag "layout/annaleah_and_mary_for_truck_safety_logo_web_midl.png"
%main.main{:role => "main"}
  :javascript
    scrollHandler();
  %article.donations
    %section.donate-form
      %h2 Please Help: Donate Here
      %a(href="#" title="Donation Form")
      = render "form"
    %section.donate-chart
      %h2 Donated So Far
      %p.donation-amount VALUE
      %p
        from
        %span.donation-donors 000
        people
  = render "content"
%footer
  %p footer
:javascript
  displayDonations();