%header.logo
  =image_tag "layout/annaleah_and_mary_for_truck_safety_logo_web_midl.png"
%main.main{:role => "main"}
  :javascript
    scrollHandler();
  = render "headline"
  %article.donations
    %section.donate-form
      %h2 Please Help: Donate Here
      %a(href="#" title="Donation Form")
      = render "form"
    %section.donate-chart
      %h2 Donated So Far
      %p.donation-amount VALUE
      %p
        from
        %span.donation-donors 000
        people
  = render "content"
%footer
  %p
    %a#reveal-disclaimer{ href: "#disclaimer", title: "Show Disclaimer" }
      Disclaimer
    |
    %a#reveal-privacy{ href: "#privacy-statement", title: "Show Privacy Statement" }
      Privacy Statement
    |
    %a#reveal-terms-of-use{ href: "#terms-of-use", title: "Show Terms of Use" }
      Terms of Use
:javascript
  displayDonations();
%div.return#returntotop
  %p.no-select ⬆