</head>
<body>
  <main>
  <h3 class="title">Interactive Underride Crash Map</h3>
    <div id="map"></div>
    <p class="footnote">
      If you have more information about these crashes, or information about an underride crash that is not on the map, please send it to: <a href="mailto:underridecrashmap@gmail.com">underridecrashmap@gmail.com</a>
    </p>
    </div>
  </div>
  </main>
  <div class="container action-call">
    <div class="row">
      <div class="col-lg-4 text-center">
        <div class="card">
          <a href="http://annaleahmary.com/2017/11/i-am-a-truck-crash-survivor-mom-of-two-who-died-on-a-mission-to-make-truck-crashes-more-survivable/"><i class="fa fa-lightbulb-o fa-5x" aria-hidden="true"></i></a>
          <h4>Hear the Stories</h4>
        </div>
      </div>
      <div class="col-lg-4 text-center">
        <div class="card">
          <a href="https://www.thepetitionsite.com/104/712/045/congress-act-now-to-end-deadly-truck-underride/"><i class="fa fa-pencil-square-o fa-5x" aria-hidden="true"></i></a>
          <h4>Sign the Petition</h4>
        </div>
      </div>
      <div class="col-lg-4 text-center">
        <div class="card">
          <a href="https://stopunderrides.org/understanding-truck-underride/"><i class="fa fa-truck fa-5x" aria-hidden="true"></i></a>
          <h4>Understand the Issue</h4>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  function initMap() {
    var uluru = {lat: -27.363, lng: 131.044};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 1,
      center: uluru
    });

    var locations = [];

    for (i = 0; i < gon.locations.length; i++) {
      info = JSON.parse(gon.locations[i]);
      locations[i] = [info["content"], info["lat"], info["lng"], info["title"]];
    }

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map,
        title: locations[i][3]
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBigS8Kmcm2Y2qYvez_rGRa2LiGznZwt1g&callback=initMap">
</script>
