/* Major Formatting and Layout */

html {
  font-family: 'Signika', Verdana, sans-serif;
	background:#262a76;
	padding-left:0em;
	padding-right:0em;
}

body {
	position:relative;
	border: 3px #222 solid;
	background-color:#F7F5E7;

	margin-top:5em;
	margin-left:auto;
	margin-right:auto;
  margin-bottom: 2em;

	min-width:450px;
	max-width:60em;

	padding-left:0em;
	padding-right:0em;
	padding-top:3.5em;
	padding-bottom:0em;
  box-shadow:0px 0px 5px black;

}

header.logo {
	position:absolute;
	alignment-baseline:central;
	vertical-align:central;
	text-align:center;
	top:-4em;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;

	/*border: 1px #222 solid;*/
  border: none;
	background:none;
	display:block;
}

header.logo img {
  border: 3px black solid;
}

main {
	/*border: 1px #222 dotted;*/
  display:block;
  overflow:hidden;

	margin-left:auto;
	margin-right:auto;
	padding-left:1em;
	padding-right:1em;
}

footer {
	border-top: 1px #bb9 solid;
  /*background: #F0f0f0;*/
  bottom:0;
  margin-bottom:0;
  margin-top:2em;
  height:100%;
  text-align:center;
  position:relative;
  display:block;
  box-shadow: inset 0 0 45px -20px grey;
  padding: 1em;
}
footer p {
  margin-top:0;
  margin-bottom:0;
}

/* Fonts and Text */

p {
	font-family: Georgia, Utopia, Palatino, ‘Palatino Linotype’, serif;
	font-size: 16pt;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 22pt;
  margin-left:0.5em;
}
blockquote {
  margin-left:1em;
  margin-right:1em;
  text-align: right;
  border-radius: 6px;
  padding: 1em;
  background-color: transparent;
  border: 1px #91b6f9 solid;
  box-shadow: inset 0px 0px 48px -9px #91b6f9;
}
blockquote p{
  margin-top:0;
  margin-bottom:0;
  text-shadow: 1px 1px 6px grey;
  text-align: left;
  /*text-indent: 1em hanging;*/
}
blockquote cite {
  font-family: 'Signika', Verdana, sans-serif;
  text-align: right;
  right:0px;
  margin-right:0;
  margin-left:auto;
  width:100%;
  position: relative;
}


pre {
}

h1, h2, h3, h4, h5 {

}
h1, h2 {
  text-align: center;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}
h1 {
  font-size: 36pt;
  line-height: 36pt;
}

/* Articles, Donation Form and Sidebar */

main article {
	border: 1px #91b6f9 solid;
	margin-left:auto;
	margin-right:auto;
	margin-top:1em;
	margin-bottom:1em;
	padding:1.5em;
	max-width:30em;
	min-width:350px;
	display:block;
	background-color:#daeef9;

  border-radius: 6px;
  box-shadow: inset 0 0 9em -1em #91b6f9, 2px 2px 15px -2px grey;
}

main article section img {
  width:100%;
}

main article .caption {
  font-family: 'Signika', Verdana, sans-serif;
  font-size: smaller;
  margin-top:0;
  margin-left:0;
  text-align: right;
}

main article.video {
  max-width:33em;
	padding: 0px;
  background-color: transparent;
  min-width: 200px;
  text-align: center;
  width:100%;
  position: relative;
  border-radius:0;
  box-shadow:none;
}

main article.video iframe, main article.contains-video iframe {
  display: inline-block;
  box-shadow: 2px 2px 15px -2px grey;
  width:100%;
}

/* Page Headline */

main article.headline {
  background-color: transparent;
  border: none;
  box-shadow: none;
  overflow: visible;
  padding:0;
  padding-top: 16px;
}

main article.headline h1 {
  font-size: 92pt;
  line-height: 68pt;
  letter-spacing: -0.055em;
}
main article.headline h2 {
  font-size: 25pt;
}



/* Chart and stats styles */

section.donate-chart {
  text-align: center;
  font-size: x-large;
}

section.donate-chart p {
  font-size: x-large;
  line-height: 1.4em;
  margin-top:0;
  margin-bottom:0;
  margin-left:auto;
}


section.donate-chart p.donation-amount, section.donate-chart .donation-donors {
  color: green;
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
  margin:0;
}

/* Pullouts and asides */

main article.sidebar {
	max-width:30em;
	min-width:250px;
	display:block;
  position: static;
}

/* Return to top */
div.return {
  visibility: hidden;
  display: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.return p {
  margin: 0;
}

/* Retractable */
article.retractable h1 {
  cursor: pointer;
}
article.retractable.no-hide {
  cursor: inherit;
}
article.retractable.collapsed, article.hideable.collapsed {
  padding-top:0.25em;
  padding-bottom:0.25em;
}

article.retractable.hovering {
  background-color: transparent;/* #262a76;*/
}
article.retractable.no-hide:hover {
  background-color: #262a76;
}

article.retractable h1 {
  cursor: pointer;
  display:block;
}
article.retractable h1:hover {
  color:#eee;
  text-shadow: 0px 0px 5px #444;
}
article.retractable h1:active {
  color:#444;
  text-shadow: 0px 0px 5px #444;
}

/* Slideshows */

main article.images {
  max-width:33em;
	min-width:350px;
  padding: 0px;
  background-color:transparent;
  border: none;
  min-height:300px;
  text-align:center;

  display:block;

  border-radius: 0;
  box-shadow: none;
}

main article.images img {
  box-shadow: 2px 2px 15px -2px grey;
}

main article section.slideshow img {
  max-width:100%;
  max-height:100%;
  width: auto;
  margin-bottom:1em;
}

main article.images.slideshow {
  height:100%;
  overflow: hidden;
}

section.slideshow {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  min-height:390px;
  background:transparent;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  /*box-shadow: 2px 2px 15px -2px grey;*/
  overflow:visible;
}

section.slideshow div.slideshow {
  cursor: move;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  min-width:334px;
  height:100%;
  /*min-height:250px;*/
 /* width: 128px;*/
  overflow:visible;
}

/* Processing... Overlay */

@media only screen {
  div.overlay {
    position: fixed;
    min-width: 500px;
    min-height: 500px;
    width: 100%;
    height: 100%;
    top: 50%;
    left:50%;
    text-align: center;
    vertical-align: center;
    transform: translate(-50%, -50%);
    background-color: hsla(45,5%,45%,0.5);
    z-index: 50;
  }

  div.overlay svg {
    position: static;
    margin: auto;
    z-index: 60;

  }
}

/* Signiture */

.no-bottom-margin {
  margin-bottom :0;
}
.no-top-margin {
  margin-top :0;
}
.signiture {
  position:relative;
  top: -1em;
}

/* Alternate styles that break the donation box out to the side when the window is big enough. */

@media only screen and (min-width: 750px) {
  html {
		padding-left:2em;
	  padding-right:2em;
  }
}

@media only screen and (min-width: 45em) and (min-height: 45em) and (min-width: 800px) {

	main.support-scrolling {
		/*border: 1px #222 dotted;*/
		margin-left:auto;
		margin-right:auto;
		padding-left:19em;
		padding-right:1em;
	}

	main.support-scrolling article.donations {
		/*background-color:#AFA;*/
		position:absolute;
		left:-1.9em;
		min-width:250px;
	}
}

@media only screen and (min-width: 990px) {
div.return {
  display: block;
  position: fixed;
  right: 0.5em;
  bottom: 1em;
  background-color:#333388;
  color: orange;
  font-size: xx-large;
  font-weight: bold;
  padding: 0.1em 0.4em 0.1em 0.4em;
  vertical-align: center;
  text-align: center;
  border: 2px black solid;
  border-radius: 1em;
  box-shadow: 0px 0px 5px purple;
  cursor: pointer;
  visibility: visible;
}
div.return:hover { background-color: lavender; }
div.return:active { background-color: white; color:purple; }
}

/*
@media only screen and (min-width: 1200px) {
  main.support-scrolling {
		padding-right:260px;
	}

 main article.sidebar {
	max-width:250px;
	min-width:250px;
	display: inline-block;
  position: absolute;
  right: -4em;
}
}
*/

/* Print Styles */

@media print {
  html {
	  background: transparent;
  }

  body {
	  background-color: transparent;
  }

  main article.donations input.btn {
    border: 1px solid;
  }

  .do-not-print {
    visibility: hidden;
    display:none;
  }
  .only-print {
    visibility: visible;
  }
}
@media screen {
  .only-print {
    visibility: hidden;
    display:none;
  }
}