/* Major Formatting and Layout */

html {
	background:#643571;
	padding-left:0em;
	padding-right:0em;
}

body {
	position:relative;
	border: 3px #222 solid;
	background-color:#F7F5E7;

	margin-top:5em;
	margin-left:auto;
	margin-right:auto;
  margin-bottom: 2em;

	min-width:450px;
	max-width:60em;

	padding-left:0em;
	padding-right:0em;
	padding-top:3.5em;
	padding-bottom:0em;
  box-shadow:0px 0px 5px black;

}

header.logo {
	position:absolute;
	alignment-baseline:central;
	vertical-align:central;
	text-align:center;
	top:-4em;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;

	/*border: 1px #222 solid;*/
  border: none;
	background:none;
	display:block;
}

header.logo img {
  border: 3px black solid;
}

main {
	/*border: 1px #222 dotted;*/
  display:block;
  overflow:hidden;

	margin-left:auto;
	margin-right:auto;
	padding-left:1em;
	padding-right:1em;
}

footer {
	border-top: 1px #222 solid;
  background: #F0f0f0;
  bottom:0;
  margin-bottom:0;
  margin-top:2em;
  height:100%;
  text-align:center;
  box-shadow: inset 0 0 45px -20px grey;
}

/* Articles, Donation Form and Sidebar */

main article {
	border: 1px #C9A9F3 solid;
	margin-left:auto;
	margin-right:auto;
	margin-top:1em;
	margin-bottom:1em;
	padding:1.5em;
	max-width:30em;
	min-width:350px;
	display:block;
	background-color:#E8DAF9;

  border-radius: 6px;
  box-shadow: inset 0 0 9em -1em #C9A9F3, 2px 2px 15px -2px grey;
}

main article.video {
  max-width:33em;
	padding: 0px;
  background-color: transparent;
  min-width: 200px;
  text-align: center;
  width:100%;
  position: relative;
}

main article.video iframe {
  display: inline-block;
}

/* Donation Sidebar */

main article.donations {
	border: none;
	display: block;
	z-index: 10;
  max-width: 320px;
	position: static; /* must be static to disable scrolling on small screens */
 	padding:0em;
  top:55px; /* used for moving it up and down the page when scrolling */
}

main article.donations {
  min-width: 20em;
  background-color: none;
  background:none;
  box-shadow: none;
}

main article.donations section {
  background:#F7F5E7;
  border: 2px orange solid;
  border-radius: 8px;
  margin-bottom: 1em;
	padding:1em;
  box-shadow: inset 0 0 7em -2em orange, 5px 5px 15px grey;
}

main article.donations section h2 {
  margin:0;
  text-align:center;
}

main article.donations label {
  display: block;
  font-size: smaller;
  font-weight: bolder;
  color: #656565;
}

main article.donations input:focus {
  border-radius: 6px;
  border-width: 2px;
  padding: 4px;
  border-style: solid;
  border-color: green;
  box-shadow: inset 0px 0px 12px orange;
  outline:none;
}

main article.donations input.form-control {
  border-radius: 6px;
  border-width: 2px;
  padding: 4px;
  border-style: solid;
  border-color: orange;
}

main article.donations input.btn {
  background-color: #E2BAE2;
  display:block;
  margin: 1em;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 0em;
  padding: 0.5em;
  padding-left: 3em;
  padding-right: 3em;
  border: 3px outset;
  border-radius: 1.5em;
  border-bottom-color: #F8F;
  border-right-color: #F8F;
  border-left-color: #FBF;
  border-top-color: #FBF;
  font-weight: bolder;
  box-shadow: 3px 3px 12px -2px black;
}

main article.donations input.btn:hover {
  color: #fff;
  text-shadow: 0 0 3px 0px white;
  box-shadow: 3px 3px 15px 0px black;
}

main article.donations input.btn:active {
  color: #fff;
  text-shadow: 0 0 18px 3px white;
  border: 3px inset;
  border-color: #FBF;
  box-shadow: inset 3px 3px 9px -2px black;
}

/* Validation and warnings */

main article.donations .error {
  color: maroon;
}

main article.donations .warning {
  color: red;
}

main article.donations span.help-block {
  color: red;
  font-weight: bolder;
  display:block;
}

div.alert-danger {
  font-weight: bolder;
  font-size: larger;
  text-align: center;
  border: 1px black solid;
  background-color: red;
  margin:auto;

}
div.alert-danger a.close {
  text-align: right;
  right: 0;
  position:relative;
}

main article.donations input.form-control.error, main article.donations div.has-error input.form-control {
  border-color: red;
  background-color: pink;
}

/* Chart and stats styles */

section.donate-chart {
  text-align: center;
  font-size: x-large;
}

section.donate-chart p {
  font-size: xx-large;
  margin-top:0;
}


.donation-amount, .donation-donors {
  color: green;
  font-size: larger;
  font-weight: bolder;
  text-align: center;
  margin:0;
}

/* Pullouts and asides */

main article.sidebar {
	max-width:30em;
	min-width:250px;
	display:block;
  position: static;
}

/* Return to top */
div.return {
  visibility: hidden;
  display: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.return p {
  margin: 0;
}

/* Slideshows */

main article.images {
  max-width:33em;
	min-width:350px;
  padding: 0px;
  background:transparent;
  border: none;
  min-height:300px;
  text-align:center;
}

section.slideshow {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  min-height:300px;
  background:transparent;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}

section.slideshow div.slideshow {
  cursor: move;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  min-width:100px;
  height:100%;
  /*min-height:250px;*/
 /* width: 128px;*/
}

/* Alternate styles that break the donation box out to the side when the window is big enough. */

@media only screen and (min-width: 750px) {
  html {
		padding-left:2em;
	  padding-right:2em;
  }
}

@media only screen and (min-width: 45em) and (min-height: 45em) and (min-width: 800px) {

	main.support-scrolling {
		/*border: 1px #222 dotted;*/
		margin-left:auto;
		margin-right:auto;
		padding-left:19em;
		padding-right:1em;
	}

	main.support-scrolling article.donations {
		/*background-color:#AFA;*/
		position:absolute;
		left:-1.9em;
		min-width:250px;
	}
}

@media only screen and (min-width: 990px) {
div.return {
  display: block;
  position: fixed;
  right: 0.5em;
  bottom: 1em;
  background-color:#883388;
  color: orange;
  font-size: xx-large;
  font-weight: bold;
  padding: 0.1em 0.4em 0.1em 0.4em;
  vertical-align: center;
  text-align: center;
  border: 2px black solid;
  border-radius: 1em;
  box-shadow: 0px 0px 5px purple;
  cursor: pointer;
  visibility: visible;
}
div.return:hover { background-color: lavender; }
div.return:active { background-color: white; color:purple; }
}

@media only screen and (min-width: 1200px) {
  main.support-scrolling {
		padding-right:260px;
	}

 main article.sidebar {
	max-width:250px;
	min-width:250px;
	display: inline-block;
  position: absolute;
  right: -4em;
}
}

/* Print Styles */

@media print {
  html {
	  background: transparent;
  }

  body {
	  background-color: transparent;
  }
}